{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "typescript": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/destructuring-assignment": ["warn" , "always"],
    "react/prop-types": "off",
    "indent": ["warn", 4],
    "array-callback-return": ["warn", {"allowImplicit": false}],
    "complexity": ["error", { "max": 2 }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
